.feedbackOptionsContainer {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.feedbackButton {
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    padding: 16px 32px;
    background-color: #543C47;
    color: #F5E3E0;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.feedbackButton:hover {
    background-color: #543C47;
}