.statisticsContainer {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 12px;
}

.statisticsItem {
    margin-bottom: 10px;
}

.positiveFeedback {
    color: #543C47;
    font-size: 18px;
    font-weight: 500;
}